
<div class="container">
  <button type="button" style="alignment: center" (click)="row1()" class="btn btn-primary">Go</button>
  <div class="row border shadow" >
    <div class="col-2">
      <h4>CPU1</h4>
      <h4>CPU2</h4>
      <h4>CPU3</h4>
      <h4>CPU4</h4>
      <h4>CPU5</h4>
      <h4>CPU6</h4>
      <h4>CPU7</h4>
      <h4>CPU8</h4>
      <h4>CPU9</h4>
      <h4>CPU10</h4>
      <h4>CPU11</h4>
      <h4>CPU12</h4>

    </div>
    <div class="col-10 border">
    <div class="item border shadow rounded" [ngStyle]="{width: weight[1]+'px', marginLeft: paddings[1]+'px'  }"  style="background-color: aqua"><h4 *ngIf="visibility1" style="text-align: right">2,3</h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[2]+'px', marginLeft: paddings[2]+'px'  }"  style="background-color: fuchsia"><h4 *ngIf="visibility2" style="text-align: right">5,7</h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[3]+'px', marginLeft: paddings[3]+'px'  }"   style="background-color: red"><h4 *ngIf="visibility3" style="text-align: right">6</h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[4]+'px', marginLeft: paddings[4]+'px'  }"   style="background-color: #3cff22"><h4 *ngIf="visibility4" style="text-align: right">9,11</h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[5]+'px', marginLeft: paddings[5]+'px'  }"  style="background-color: #ffa328"><h4 *ngIf="visibility5" style="text-align: right">8</h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[6]+'px', marginLeft: paddings[6]+'px'  }"   style="background-color: #39ff8f"><h4 *ngIf="visibility6" style="text-align: right">4</h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[7]+'px', marginLeft: paddings[7]+'px'  }"   style="background-color: #ff5c88"><h4 *ngIf="visibility7" style="text-align: right">10,12</h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[8]+'px', marginLeft: paddings[8]+'px'   }"   style="background-color: #2c9dff"><h4 *ngIf="visibility8" style="text-align: right"></h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[9]+'px', marginLeft: paddings[9]+'px'  }"   style="background-color: #b2ffe5"><h4 *ngIf="visibility9" style="text-align: right"></h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[10]+'px', marginLeft: paddings[10]+'px'   }"   style="background-color: #24ff9d"><h4 *ngIf="visibility10" style="text-align: right"></h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[11]+'px', marginLeft: paddings[11]+'px'  }"   style="background-color: #bb5eff"><h4 *ngIf="visibility11" style="text-align: right"></h4></div>
    <div class="item border shadow rounded" [ngStyle]="{width: weight[12]+'px', marginLeft: paddings[12]+'px'   }"   style="background-color: #1693ff"><h4 *ngIf="visibility12" style="text-align: right"></h4></div>

    </div>
  </div>

</div>
